<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-lg btn-primary"><a href="../Usuario/Login" style="color:white">Entrar</a></button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-lg btn-success"><a href="../Usuario/Registrar" style="color:white">Registrar-se</a></button>
    </div>
</div>