@model ContaModel

@{
    ViewData["Title"] = "CriarConta";
}

<h2>Adicionar Conta</h2>

<div>
    <form asp-controller="Conta" asp-action="CriarConta">
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" class="form-control" asp-for="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Saldo:</label>
            <input type="text" class="form-control" asp-for="Saldo">
            <span asp-validation-for="Saldo" class="text-danger"></span>
        </div>
        <button class="btn btn-lg btn-success"><a href="../Usuario/Registrar" style="color:white">Criar Conta</a></button>
    </form>
</div>
