@{ 
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="container" style="width:80%; text-align:center; margin: 10% auto; background-color:#f5f5f5; padding-bottom:1%; border-radius:20px;">
    <h2>Parabéns</h2>
    <p>Sua conta foi gerada com sucesso. Clique <a href="../Usuario/Login">aqui</a> para fazer login!</p>
    </div>